$backgroundUrl: url(../img/m-h-day.jpg);
$landingLogoFont:'Hind', sans-serif;
$headerTextFont:'Hind', sans-serif;
$sectionCardTextFont:'Hind', sans-serif;
$sectionBannerTextFont:'Source Sans Pro', sans-serif;
$footerWrapFont:'Hind', sans-serif;
$headerHeadingColor: rgb(44, 47, 60);
$headerTextColor: rgb(44, 47, 60);
$textHederColor:rgb(44, 47, 70);
$sectionText:rgb(44, 47, 60);
$sectionBannerHeading: rgb(44, 47, 60);
$hightlightColor: rgb(20, 160, 199);
$buttonColor: rgb(105, 153, 0);
$sectionCard: rgb(33, 35, 46);
$footerBackground: $sectionCard;
$gradientLeft:rgb(99, 147, 20);
$gradientRight:rgb(48, 94, 203);
$bodyBackg:white;
$sectionCardTextHeight:22px;