$backgroundUrl:url(../img/m-h-night.jpg);
$landingLogoFont:'Fresca', sans-serif;
$headerTextFont:'Fresca', sans-serif;
$sectionCardTextFont:'Fresca', sans-serif;
$sectionBannerTextFont:'Fresca', sans-serif;
$footerWrapFont:'Fresca', sans-serif;
$headerHeadingColor:white;
$sectionText:white;
$headerTextColor: white;
$textHederColor:white;
$sectionBannerHeading: white;
$hightlightColor: rgb(255, 78, 51);
$buttonColor: rgb(227, 172, 0);
$sectionCard: rgb(59, 63, 80);
$footerBackground: $sectionCard;
$gradientLeft:rgb(218, 158, 8);
$gradientRight:rgb(152, 54, 77);
$bodyBackg: rgb(33, 35, 45);
$sectionCardTextHeight:18px;